<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZIRC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <ZIRC.Properties.Settings>
            <setting name="mainFont" serializeAs="String">
                <value>Courier New, 9pt</value>
            </setting>
            <setting name="TTSEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TTSVoice" serializeAs="String">
                <value />
            </setting>
            <setting name="TTSSay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TTSAct" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TTSJoin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TTSPart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TTSKick" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TTSQuit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TTSMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TTSNick" serializeAs="String">
                <value>False</value>
            </setting>
        </ZIRC.Properties.Settings>
    </userSettings>
</configuration>
