<appSettings>
  <add key="address" value="127.0.0.1"/>
  <add key="port" value="6667"/>
  <add key="password" value=""/>
  <add key="nickName" value="ZornTest"/>
  <add key="userName" value="GreenFox"/>
  <add key="realName" value="ZIRC"/>
  <add key="altNick1" value="ZornTest1"/>
  <add key="altNick2" value="ZornTest2"/>
</appSettings>